/* *** Coloring *** */
/* red: #D42629 */
#nav_main li.about a {
	border-color:#D42629 !important;
}
#branding h1 a:hover, #branding h1 a:focus {
	color:#D42629 !important;
}
#nav_main li.about a.active, #nav_main li.about a:hover, #nav_main li.about a:focus {
	background-color:#D42629;
}
/* orange: #F5A133 */
#nav_main li.archive a {
	border-color:#F5A133 !important;
}
#branding h1 a:hover span.ancient, #branding h1 a:focus span.ancient, #branding div.box a.subscribe:hover, #branding div.box a.subscribe:focus {
	color:#F5A133 !important;
}
#nav_main li.archive a.active, #nav_main li.archive a:hover, #nav_main li.archive a:focus {
	background-color:#F5A133;
}
/* green: #499948 */
#nav_main li.blog a {
	border-color:#499948 !important;
}

#nav_main li.blog a.active, #nav_main li.blog a:hover, #nav_main li.blog a:focus {
	background-color:#499948;
}
/* purple: #7A3B79 */
#nav_main li.life a {
	border-color:#7A3B79 !important;
}
#nav_main li.life a.active, #nav_main li.life a:hover, #nav_main li.life a:focus {
	background-color:#7A3B79;
}
/* blue: #21588F */
#nav_main li.poetry a {
	border-color:#21588F !important;
}

#nav_main li.poetry a.active, #nav_main li.poetry a:hover, #nav_main li.poetry a:focus {
	background-color:#21588F;
}

/* *** Fonts *** */
#branding h1, #branding div.box a.subscribe, #nav_main li a, #stories-nav li a {
	font-family: Georgia, Arial;
}

/* ==GRID */
#grid_overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100000;
	display: none;
}

#grid_overlay .grid {
	width: 1020px;
	margin: 0 0 0 -30px;
	height: 10000px;
	background: url('../images/grid_12.png') repeat-y left top;
}

/* ==RESET */
* {
	padding:0;
	margin:0;
}
a {
	text-decoration:none;
	color:#0D8D37;
}
ul, ol, li {
	list-style:none;
}

/* *** opacity *** */
.importance0 { opacity: 0; }
.importance10 { opacity: .10; }
.importance15 { opacity: .15; }
.importance20 { opacity: .20; }
.importance25 { opacity: .25; }
.importance30 { opacity: .30; }
.importance35 { opacity: .35; }
.importance40 { opacity: .40; }
.importance45 { opacity: .45; }
.importance50 { opacity: .50; }
.importance55 { opacity: .55; }
.importance60 { opacity: .60; }
.importance65 { opacity: .65; }
.importance70 { opacity: .70; }
.importance75 { opacity: .75; }
.importance80 { opacity: .80; }
.importance85 { opacity: .85; }
.importance90 { opacity: .90; }
.importance95 { opacity: .95; }
.importance100 { opacity: 1; }

/* weights */
.wt0 { font-size: 10px; }
.wt1 { font-size: 11px; }
.wt2 { font-size: 12px; }
.wt3 { font-size: 13px; }
.wt4 { font-size: 15px; }
.wt5 { font-size: 16px; }
.wt6 { font-size: 19px; }
.wt7 { font-size: 20px; }
.wt8 { font-size: 22px; }
.wt9 { font-size: 23px; }
.wt10 { font-size: 25px; }

/* ==GENERIC */
acronym, abbr {
	cursor: help;
}

/* ==MAIN */
body {
	font: 11px/1.5em Georgia, serif;
	color: #000000;
	background:#FFFFFF fixed no-repeat right bottom;
}
#page {
	width:960px;
}
#borders, #navigation, #nav_main li a {
	border-width:8px 0 25px 0;
	border-style:solid none solid none;
}
#borders, #navigation {
	position:relative;
	width:100%;
	float:left;
	border-color:#000000;
}
/* ==ALIGNMENT */
/* ===LEFT */
body.left #borders {
	display: none;
}
body.left #page {
	float:left;
}
/* ===CENTER */
#borders {
	height: 100px;
	margin-top: 144px;
	position: absolute;
}
body.center #page {	margin-left: 50%;
	position: relative;
	left: -480px;
/*	background:url('../images/12_col.gif') repeat-y 0 0; */
}
/* *** Branding *** */
#branding, #nav_main {
	margin-left: 50px;
}
/* =logo */
#branding h1 {
	font-size:435%;
	text-transform:uppercase;
	line-height:70%;
	float:left;
}
#branding h1 a {
	display:block;
	padding:111px 159px 0 10px;
	float:left;
	position: relative;
}

#branding h1 a, #branding h1 a:link, #branding h1 a:visited {
	color:#000000;
}

body.logo #branding h1 a {
	padding-left: 169px;
}

body.logo #branding h1 a img {
	width: 140px;
	position: absolute;
	left: 10px;
	top: 10px;
}

#branding h1 a span.newly {
	display:block;
	width:222px;
	float:left;
}
#branding h1 a span.ancient {
	display:block;
	float:left;
}
/* =brandingbox */
#branding div.box {
	position:absolute;
	left:640px;
	width:320px;
	height:142px;
	margin-top:110px;
}

#branding div.box a.ninerules {
/*	display:none;*/
	float:left;
	width:60px;
	height:70px;
	margin:10px 10px 5px 10px;
	text-indent:-100000px;
	background:url('../images/branding/9rules_leaf.png') no-repeat left top;
}

#branding div.box a.ninerules:hover, #branding div.box a.ninerules:focus {
	background-image:url('../images/branding/9rules_leaf_hover.png');
}
#branding div.box a.subscribe {
	display:block;
	float:left;
	width:150px;
	height:60px;
/*	margin:15px 0 0 90px;*/
	margin:15px 0 0 10px;
	padding:5px 0 5px 80px;
	font-size:218%;
	line-height:60px;
	color:#000000;
	background:url('../images/branding/feedicon_grey.png') no-repeat 0px 5px;
}
#branding div.box a.subscribe:hover, #branding div.box a.subscribe:focus {
	background-image:url('../images/branding/feedicon_orange.png');
}
/* =search */
#branding div.box div#search {
	float:left;
	width:320px;
	margin:0 0 0 0;
	height:35px;
	background:#000000 url('../images/branding/search_top.png') no-repeat left top;
}
#branding div.box div#search.habari label, #branding div.box div#search.lijit label {
	display:block;
	float:left;
	margin:10px 0 0 10px;
	width:60px;
	color:#FFFFFF;
	font-size:127%;
}
#branding div.box div#search input#s, #branding div.box div#search.lijit #lwp_sfd {
	display:block;
	float:left;
	margin:10px 0 0 20px;
	width:140px;
	border:none;
	padding:0;
}
#branding div.box div#search input#searchsubmit, #branding div.box div#search.lijit #lwp_2_searchbutton {
	display:block;
	float:left;
	margin:10px 0 0 20px;
	width:60px;
	border:none;
	padding:0;
}
#branding div.box div#search.lijit #lwp_logo {
	display:none;
}

/* *** SPINNER *** */
#spinner {
	display:none;
	width:32px;
	height:32px;
	background:url('../images/spinner.gif') no-repeat left top;
	position:absolute;
	left:520px;
	top:50%;
	margin:-16px 0 0 -16px;
	text-indent:-100000px;
}

/* *** Navigation *** */

/* *** Sidebar *** */
div#sidebar {
	float:left;
	width:320px;
	margin:0 0 5px 0;
}
div#sidebar div.module {
	float:left;
	width:320px;
	margin:10px 0;
	position:relative;
	padding:0;
	font-size:100%;
}
div#sidebar div.module h3, div#sidebar div.module h3 a {
	color:#000;
}
div#sidebar div.module h3 {
	float:left;
	font-size:118%;
	line-height:150%;
	border-bottom:1px solid #666666;
	padding:0 10px;
	width:300px;
}
div#sidebar div.module h3 span.legend {
	float:right;
	font-size:80%;
	line-height:187%;
	color:#555555;
}
div#sidebar div.module h3 span.legend a {
	font-weight:normal;
}
div#sidebar div.module h3 span.legend a:hover {
	text-decoration:none;
}
div#sidebar div.module h3 span.legend a:hover strong {
	text-decoration:underline;
}
div#sidebar div.module a.feed, div#sidebar div.module a.info, div#sidebar div.module h3 span.icon {
	display:block;
	width:16px;
	height:1.5em;
	position:absolute;
	right:10px;
	top:0;
	text-indent:-100000px;
	background:url('../images/feed-mini-grey.png') no-repeat right center;
}
div#sidebar div.module a.feed:hover {
	background-image:url('../images/feed-mini-orange.png');
}
div#sidebar div.module span.icon.info, div#sidebar div.module a.info {
	background-image:url('../images/info-grey.png');
}
div#sidebar div.module a.info:hover {
	background-image:url('../images/info.png');	
}
div#sidebar div.module span.icon.stats {
	background-image:url('../images/chart-grey.png');
}
div#sidebar div.module span.icon.calendar {
	background-image:url('../images/calendar-grey.png');
}
div#sidebar div.module a:hover span.info, div#sidebar div.module a:focus span.info {
	background-image:url('../images/info.png');
}
div#sidebar a, div#sidebar a:link, div#sidebar a:visited {
	color:#555555;
	font-weight:bold;
}
div#sidebar a:hover, div#sidebar a:focus {
	color:#000000;
	text-decoration:underline;
}
div#sidebar div.module.first-child {
	margin-top:15px;
}
div#sidebar div.module > ol {
	margin:0 10px;
	float:left;
}

/* sidetags */
div#sidetabs {
	position:fixed;
	right:0;
	top:0;
	width:300px;
}

div#sidetabs div.module {
	width:300px;
	height:500px;
	position:relative;
	left:300px;
	background:#555;
	border-left:2px solid #000;
	color:#FFF;
}

div#sidetabs div.module h4 {
	width:50px;
	height:100px;
	position:absolute;
	left:-50px;
	top:20px;
}

div#sidetabs div.module h4 a {
	display:block;
	height:100px;
	width:50px;
	text-indent:-100000px;
	background:no-repeat right top;
}

div#sidetabs div.module a, div#sidetabs div.module a:visited {
	color:#FFF;
}

div#sidetabs div.module ul li a {
	display:block;
	padding:2px 10px;
}

div#sidetabs div.module ul li a:hover {
	background:#000;
}

/* tags */
div#sidetabs div.module.tags h4 a:hover, div#sidetabs div.module.tags h4 a:focus {
	background-image:url('../images/right_tabs/tags-hover.png');	
}

div#sidetabs div.module.tags h4 a {
	background-image:url('../images/right_tabs/tags.png');
}

div#sidetabs div.module.tags.active h4 a {
	background-image:url('../images/right_tabs/tags-active.png') !important;
}

div#sidetabs div.module.tags li a em {
	float:right;
	font-style:normal;
}

/* footer */
div#footer {
	float:left;
	margin:20px 10px 0 10px;
	border-top:3px solid #000000;
	padding-top:10px;
	font-size:100%;
}
div#footer .content {
	float:left;
	background:#000000;
	color:#FFF;
	width:610px;
	padding:10px 5px 2px 5px;
}
div#footer a, div#footer a:link, div#footer a:visited {
	display:block;
	color:#FFF;
	text-decoration:none;
}
div#footer a:hover, div#footer a:focus {
	color:#FF8E16;
	text-decoration:none;
}
div#footer div.module {
	float:left;
	width:300px;
	margin:0 20px;
}
div#footer div.module.first-child {
	margin-left:0;
}
div#footer a:first-child {
	float:left;
}
div#footer a:last-child {
	float:right;
}
/* feeds */
div#footer div.module.feeds h3 {
	border-bottom-color:#FF8E16;
}
div.module.feeds a.subscribe {
	display:block;
	float:left;
	height:60px;
	width:100%;
	padding:5px 10px 5px 70px;
	font-size:200%;
	line-height:60px;
	background:url('../images/branding/feedicon_orange.png') no-repeat 5px 5px;
}

/* =modules= */

/* ==nav== */
.module.navlinks ul {
	margin:0;
	float:left;
	display:block;
	width:320px;
}

.module.navlinks ul li a {
	display:block;
	font-size:118%;
	padding:5px 10px;
}

.module.navlinks ul li a:hover,  .module.navlinks ul li a:focus{
	background:#CDCDCD;
	text-decoration:none !important;
}

.module.navlinks ul li a.active {
	background:#9A9A9A;
	color:#FFF !important;
}

/* ==meta== */
.module.meta h3 span.icon {
	background-image:url('../images/help-grey.png') !important;
}

/* ==monthly archives== */
div#module-months table {
	width:300px;
	margin:5px 10px;
	text-align:left;
	border-collapse:collapse;
}
div#module-months table th.year, div#module-months table td.month {
	padding:0;
}
div#module-months table th.year a, div#module-months table td.month a, div#module-months table td.month span {
	display:block;
	border-top:1px solid #CCC;
	padding:2px 0 2px 0;
}
div#module-months table td.month a {
	text-align: center;
}
div#module-months table td.month a:hover, div#module-months table td.month a:focus, div#module-months table th.year a:hover, div#module-months table th.year a:focus {
	color:#E20011;
	text-decoration:none;
	border-color:#888;
	font-weight:bold;
}

div#module-months table td.month.active a {
	background: #21588F;
	border-color: #21588F;
	color: #FFFFFF;
}

div#module-months table th.year {
	width:60px;
	font-weight:normal;
}
div#module-months table th.year a {
	color:#989;
	font-weight:normal;
	border-color:#AAA;	
}
div#module-months table th.year a span {
	font-size:90%;
}
div#module-months table th.year a:hover, div#module-months table th.year a:focus {
	font-weight:normal;
}
div#module-months table td.month {
	width:20px;
	color:#BBB;
}
div#module-months table td.month span {
	border-color:#EEE;
}
div#module-months table td.month a {
	font-weight:normal;
	color:#555;
}
div#module-months table tr.even td.month.odd a, div#module-months table tr.odd td.month.even a {
	font-weight:bold;
}

/* calendar */
div#module-calendar h3 a.previous, div#module-calendar h3 a.next, div#module-calendar h3 strong.current  {
	display:block;
	float:left;
}
div#module-calendar h3 a.previous, div#module-calendar h3 a.next {
	width:85px;
}
div#module-calendar h3 strong.current {
	width:130px;
	text-align:center;
}
 div#module-calendar h3 a.next {
	text-align:right;
} 
div#module-calendar table {
	float:left;
	margin:10px 10px;
	text-align:left;
	border-collapse:collapse;
}
div#module-calendar table th.day {
	width:60px;
	padding:5px 0;
	vertical-align:top;
}
div#module-calendar table td.day {
	width:48px;
	vertical-align:top;
}
div#module-calendar table td.day a {
	display:block;
	position:relative;
	padding:5px 0;
}
div#module-calendar table td.day span.bar {
	display:block;
	text-indent:-10000px;
	width:40px;
	background:#DDDDDD;
}
div#module-calendar table td.day strong.day {
	color:#000000;
	position:absolute;
	left:2px;
	top:3px;
}
div#module-calendar table td.day.up1 span.bar {
	background:#AED9BC;
}
div#module-calendar table td.day.up2 span.bar {
	background:#86C69B;
}
div#module-calendar table td.day.up3 span.bar {
	background:#5EB37A;
}
div#module-calendar table td.day.up4 span.bar {
	background:#35A058;
}
div#module-calendar table td.day.up5 span.bar {
	background:#0D8D37;
}
div#module-calendar table td.day a:hover, div#module-calendar table td.day a:focus {
	text-decoration:none;
}
div#module-calendar table td.day a:hover span.bar {
	background:#FF8E16;
}
div#module-calendar table td.day.active a strong.day {
	color: #FFFFFF;
}
div#module-calendar table td.day.active a span.bar {
	background: #21588F;
}
/* ==text== */
div.module.text p {
	width:300px;
	padding:5px 10px;
	float:left;
}
div.module.text a.more {
	float:right;
	margin-right:10px;
}
/* ==tags== */
#sidebar div.module.tags li {
	width:140px;
	margin-right:20px;
	float:left;
}
#sidebar div.module.tags li.odd {
	margin-right:0;
}
#sidebar div.module.tags li a em {
	display:block;
	width:17px;
	height:17px;
	background:url('../images/darkCircle.png') no-repeat 0px -17px;
	text-align:center;
	line-height:17px;
	color:#FFFFFF;
	font-size:80%;
	text-decoration:none;
}
/* ==stats== */
div.module.stats a.stat, div.module.stats span.stat {
	display:block;
	float:left;
	width:60px;
	margin:15px 10px;
	color:#555555;
	font-family:Helvetica, Arial, sans-serif;
}
div.module.stats a.stat:hover {
	color:#000;
	text-decoration:none !important;
}
div.module.stats strong.number {
	font-size:300%;
}
div.module.stats span.unit {
	display:block;
	margin-top:-5px;
	color:#AAA;
	text-transform:lowercase;
	font-size:109%;
}
div.module.stats a.stat:hover span.unit {
	color:#555;
	text-decoration:underline;
}
/* ==recent activity== */
div#module-activity ol {
	float:left;
	position:relative;
	padding:0 0 1.1em;
}
div#module-activity li.item {
	float:left;
	padding:0 1px;
 	height:100%;	
}
div#module-activity li.item a {
	display:block;
	width:13px;
	height:100%;
	text-align:center;
}
div#module-activity li.item a:hover {
	text-decoration:none;
	color:#03447E;
}
div#module-activity li.item a span.bar {
	display:block;
	width:100%;
	text-indent:-10000px;
	background:#999999;
	font-size:90%;
}
div#module-activity li.item a span.day {
	display:block;
	width:100%;
	color:#777777;
	font-weight:normal;
}
div#module-activity li.item a:hover span.bar {
	background:#03447E !important;
}
div#module-activity li.item a.up1 span.bar {
	background:#777777;
}
div#module-activity li.item a.up2 span.bar {
	background:#555555;
}
div#module-activity li.item a.up3 span.bar {
	background:#333333;
}
div#module-activity li.item a.up4 span.bar {
	background:#222222;
}
div#module-activity li.item a.up5 span.bar {
	background:#000000;
}
/* ==latest posts== */
div.module.posts li.item, div#module-links li.item {
	padding:2px 0;
	position:relative;
	float:left;
	width:300px;
}
div.module.posts a.permalink, div#module-links li.item a.permalink {
	display:block;
	float: left;
	font-size:109%;
	cursor: pointer;
}
div.module.posts li.item a span.title, div#module-links li.item a span.title {
	display:block;
	float:left;
	width:230px;
}
div.module.posts li.item a span.date, div#module-links li.item a span.date {
	display:block;
	float:left;
	margin-left:10px;
	width:40px;
	font-weight:normal;
	position:absolute;
	top:0;
	left:230px;
}
div.module.posts li.item a.permalink:hover, div.module.posts li.item a.permalink:hover span.date, div#module-links li.item a.permalink:hover, div#module-links li.item a.permalink:hover span.date {
	text-decoration:none;
	color: #D42629;
}
div.module.posts li.item a.permalink:hover span.title, div#module-links li.item a.permalink:hover span.title {
	text-decoration:underline;
}
div.module.posts a.comments.count, div#module-links li.item a.link {
	display:block;
	width:20px;
	color:#333333;
	text-align:right;
	position:absolute;
	right:0;
	top:-2px;
}
div.module.posts a.comments.count:hover, div#module-links li.item a.link:hover {
	font-weight: bold;
	color: #D42629;
}
/* ==microposts */
div#sidebar div.module.microposts a.info {
	right: 30px;
}

div.module.microposts li .content {
	font-size: 140%;
}

div#sidebar div.module.microposts li a.permalink {
	float: right;
	font-weight: normal;
	color: #999;
}

/* blogroll */
div#module-blogroll li.item.link {
	display:block;
}
div#module-blogroll li.item.link a {
	display:block;
	padding:2px 10px;
}
.module h3 span.icon.delicious {
	background-image:url('../images/delicious-icon-grey.png') !important;
}
.module h3 a:hover span.icon.delicious, .module h3 a:focus span.icon.delicious {
	background-image:url('../images/delicious-icon.png') !important;
}
/* ==latest comments== */
.module.comments.recent .item {
	width:300px;
	padding:2px 0;
	position:relative;
	clear:both;
	line-height: 1.1em;
	font-size:150%;
}
.module.comments.recent a.comment .conjunction {
	color: #AAAAAA;
}
.module.comments.recent a.comment .date {
	display:block;
	float:left;
	width:60px;
	margin-left:20px;
	line-height: 1.1em;
	padding: 2px 0;
	color:#333333;
	text-align:right;
	position:absolute;
	right:0;
	top:0;
}
.module.comments.recent a.comment:hover, .module.comments.recent a.comment:focus {
	color:#0D8D37;
	text-decoration: none !important; 
}
.module.comments.recent a.comment:hover .name, .module.comments.recent a.comment:focus .name {
	text-decoration: underline;
}
/*.module.comments.recent ol.comments.authors {
	width:220px;
	line-height: 1.1em;
	height:1.1em;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size:90%;
}
.module.comments.recent ol.comments.authors li {
	display: inline;
	}
.module.comments.recent ol.comments.authors li a {
	font-weight:normal;
}
.module.comments.recent ol.comments.authors li:after {
	content: ', ';
	}

.module.comments.recent ol.comments.authors li.last-child:after {
	content: '';
	}

.module.comments.recent ol.comments.authors li a:hover, .module.comments.recent ol.comments.authors li a:focus {
	opacity: 1 !important;
	color:#000;
	}

*/
/* *** Content *** */
div#content {
	float:left;
	width:640px;
	margin:5px 0;
}
/* *** post *** */
div.post {
	float:left;
	position:relative;
	margin:10px 10px 0 10px;
	width:620px;
	border-bottom:2px solid #000000;
}
/* ==head== */
div.post div.head {
	position:relative;
	margin:0;
	vertical-align:baseline;
}
div.post div.head span.date, div.post div.head h3.title a {
	border-bottom:1px solid #666666;
}
div.post div.head span.date {
	display:block;
	float:left;
	width:140px;
	margin:0 10px 0 0;
	line-height:1.2em;
	font-size:100%;
	position:absolute;
	left:0;
	bottom:-1px;
	padding:0 0 0 20px;
	background:url('../images/silk/calendar.png') no-repeat left center;
}
div.post div.head span.date, div.post div.head span.date a {
	color:#666666;
	text-decoration:none;
}
div.post div.head span.date a:hover, div.post div.head span.date a:focus {
	color:#E20011;
	text-decoration:underline;
}
div.post h3.title {
	position:relative;
	top:1px;
	left:0;
	font-size:114%;
}
.single div.post h3.title {
	font-size:150%;
	top:0;
	line-height:1.2em;
}
div.post div.head h3.title {
	margin:0 0 0 160px;
	width:460px;
}
div.post h3.title a {
	display:block;
	color:#000000;
	text-decoration:none;
}
div.post h3.title a:hover, div.post h3.tite a:focus {
	color:#D42629;
	border-color:#D42629 !important;
	text-decoration:none;
}
/* ==meta== */
div.post div.meta {
	float:left;
	width:140px;
	margin:5px 10px 0 0;
	color:#333333;
	background:#FFFFFF;
	z-index:500;
}
div.post div.meta.section {
	margin-bottom:2px;
}
div.post div.meta, div.post div.meta a, div.post div.meta a:visited {
	color:#333333;
	text-decoration:none;
}
div.post div.meta a:hover, div.post div.meta a:focus {
	text-decoration:underline;
	color:#D42629;
}
div.post div.meta abbr.time, div.post div.field.time div.label {
	background:url('../images/silk/time.png') no-repeat left top;	
}
div.post div.field.content div.label {
	background:url('../images/silk/text_align_justify.png') no-repeat left top;	
}
div.post div.field.title div.label {
	background:url('../images/silk/text_allcaps.png') no-repeat left top;	
}
.single div.post div.field.title div.label {
	margin-top:0.5em;
}
div.post div.field.url div.label {
	background:url('../images/silk/link.png') no-repeat left top;	
}
div.comment.type-pingback div.field.site div.label {
	background:url('../images/silk/world.png') no-repeat left top;	
}
div.post div.field.email div.label {
	background:url('../images/silk/email.png') no-repeat left top;	
}
div.post div.meta abbr.time {
	border:none;
	cursor:help;
	padding:2px 0 0 20px;
	line-height:20px;
}
div.post div.meta a.comments, div.post div.field.comments {
	background:url('../images/silk/comments.png') no-repeat left center;	
}
div.post div.meta a.comments {
	display:block;
	padding:0px 0 0 20px;
	line-height:20px;
}
div.post div.meta a.comments.one {
	background-image:url('../images/silk/comment.png');
}
div.post div.meta ul.tags, div.post div.meta ul.tags li {
	list-style:none;
}
div.post div.meta ul.tags, div.post div.field.tags div.label {
	background:url('../images/silk/tag_red.png') no-repeat left top;	
}
div.post div.meta ul.tags {
	padding:0px 0 0 20px;
}
div.post div.meta a.edit, div.post div.field.edit div.label {
	background:url('../images/silk/pencil.png') no-repeat left top;	
}
div.post div.meta a.edit, div.post div.meta a.footnotes {
	display:block;
	padding:0px 0 0 20px;
}
/* ==bottom== */
div.post div.meta div.bottom {
	position:absolute;
	left:0;
	width:140px;
	bottom:1em;
}
div.post div.meta div.bottom a.comment.add {
	display:block;
	padding:0px 0 0 20px;
	background:url('../images/silk/comment_add.png') no-repeat left top;
}
div.post div.meta div.bottom a.permalink {
	display:block;
	padding:0px 0 0 20px;
	background:url('../images/silk/tag.png') no-repeat left top;
}
div.post.link div.meta div.bottom a.link {
	display:block;
	padding:0px 0 0 20px;
	background:url('../images/silk/link_go.png') no-repeat left top;
}
div.post div.field.visit div.label {
	background:url('../images/silk/link.png') no-repeat left top;
}

/* ==pager & archive title */
div.pager, #archive_title {
	background:#000000 none repeat scroll 0% 0%;
	float:left;
	margin:9px 10px 10px 10px;
	padding:0pt;
	width:620px;
	height:22px;
	position:relative;
	font-size:145%;
}

div.pager a.previous, div.pager a.next, div.pager span.previous a, div.pager span.next a {
	display:block;
	padding:2px 5px;
	color:#FFF;
	width:140px;
}

.pager .previous strong {
	position:absolute;
	left:20px;
	top:2px;
}

.pager .next strong {
	position:absolute;
	right:20px;
	top:2px;
}

div.pager a:hover, div.pager a:focus {
	color:#499948 !important;
}

div.pager a.previous, div.pager span.previous, div.pager span.previous a {
	float:left;
	width:140px;
	text-align:left;
}

div.pager a.next, div.pager span.next, div.pager span.next a {
	float:right;
	text-align:right;
}

div.pager span.none a {
	display:none;
}

div.pager .page_selector h4 {
	float:left;
	width:60px;
	color:#FFF;
	font-size:100%;
	font-weight:normal;
	padding:2px 0;
	position:absolute;
	left:480px;
	top:0;
}

div.pager .page_selector .slider {
	float:left;
	height:1.3em;
	width:280px;
	position:absolute;
	left:160px;
}

div.pager .slider .ui-slider-handle {
	width:20px;
	padding:2px 0 4px;
	background:#FFF;
	z-index:1;
	position:absolute;
	top:0;
	color:#333;
	text-align:center;
}

/* ===archive title */
#archive_title {
	color:#FFF;
	text-align:center;
	font-size:150%;
}

/* ==content== */
div.post {
	font-size:127%;
	float:left;
}
div.post.multi div.content {
	float:left;
	width:460px;
	margin:5px 0px 0 10px;
}

/* ==SINGLE */
div.field {
	width:620px;
	border-bottom:1px solid #CCCCCC;
	padding:5px 0;
	float:left;
}
div.field div.label {
	float:left;
	width:120px;
	padding:0 0 0 20px;
	margin:0 20px 0 0;
	color:#333333;
}
div.field div.value {
	float:left;
	width:460px;
}

div.field.info div.value input {
	width:214px;
}
div.field div.value textarea {
	width:458px;
}
div.field.info abbr, div.field.info a, div.field.info span.date {
	color:#000000;
	font-weight:bold;
	border:none;
}
div.field.info a:hover, div.field.info a:focus {
	color:#0D8D37;
	text-decoration:underline;
}
div.field.heading div.label h4 {
	font-size:130%;
}
div.field.heading div.value {
	line-height:145%;
}

/* ===HELP */
div.field.helped div.value, div.field.error div.value {
	width:220px;
}
div.field.helped div.help, div.field.error div.error {
	float:left;
	margin-left:20px;
	width:200px;
	font-size:90%;
}

div.field.helped div.help {
	color:#AAAAAA;
}

div.field.error div.error {
	color: #D42629;
}

div.field.helped div.help em {
	font-style:normal;
}
div.field.nolabel div.value {
	margin-left:160px;
}

/* ==COMMENTS */
#comments .field.heading {
	border-bottom:none;
}
#comments div.comment {
	float:left;
}
#comments div.comment .field.content {
	border-bottom:none;
}
#comments div.comment .field.name, div.comment.type-pingback div.field.site {
	border-top:1px solid #000;
	margin-top:15px;
}
#comments div.comment .field.name .value {
	font-weight:bold;
	font-size:105%;	
}
#comments div.comment .field.url a {
	font-weight:normal;
}
#comments div.comment.number1 .field.name {
	margin-top:0;
}
/* comment schemes */
div#comments div.comment.scheme1 div.field.name div.label, div#respond.scheme1 div.field.commenter div.label {
	background:url('../images/silk/user.png') no-repeat left top;	
}
div#comments div.comment.scheme2 div.field.name div.label, div#respond.scheme2 div.field.commenter div.label {
	background:url('../images/silk/user_green.png') no-repeat left top;	
}
div#comments div.comment.scheme3 div.field.name div.label, div#respond.scheme3 div.field.commenter div.label {
	background:url('../images/silk/user_red.png') no-repeat left top;	
}
div#comments div.comment.scheme4 div.field.name div.label, div#respond.scheme4 div.field.commenter div.label {
	background:url('../images/silk/user_orange.png') no-repeat left top;	
}

/* timestamp */
#comments div.comment div.field.time a {
	text-decoration:none;
	font-weight:normal;
	color:inherit;
}

/* comment preview */

/* ==RESPOND */
#comments {
	padding-bottom:20px;
}

#respond .field.messages .value .error li {
	color: #D42629;
	line-height:135%;
/*	display: none;*/
}

#respond .field.heading .value p.success {
	color: #499948;
	font-weight: bold;
}

#respond div.field.messages div.label, #respond div.field.submit div.label {
	display:none;
}

#respond div.field.messages div.value, #respond div.field.submit div.value {
	margin-left:160px;
}

/* specifics */
div.single div.post div.field.title {
	padding:0;
}
div.single div.post div.field.tags li {
	display:block;
	float:left;
	position:relative;
	padding-left:18px;
}
div.single div.post div.field.tags li a.global {
	display:block;
	width:16px;
	height:16px;
	text-indent:-10000px;
	background:url('../images/technorati-grey.png') no-repeat left center;
	position:absolute;
	left:0;
	top:0;
}
div.single div.post div.field.tags li a.global:hover, div.single div.post div.field.tags li a.global:focus {
	background-image:url('../images/technorati.png');
}
div.field.submit div.label {
	background:transparent url('../images/silk/email_go.png') no-repeat scroll left top
}
div.field.submit input {
	width:140px;
}
div.field.submit input {
	font-weight:bold;
}

/* links */
div.post.link div.meta a.link {
	background:url('../images/silk/note.png') no-repeat left top;
}

/* footnotes */
div.post div.field.footnotes div.label, div.post div.meta a.footnotes {
	background:url('../images/silk/note.png') no-repeat left top;
}
div.post div.field.footnotes ol, div.post div.field.footnotes ol li {
	margin:0;
	padding:0;
	list-style:decimal outside !important;
}
div.post div.field.footnotes ol li.flickr {
	list-style-image: url('../images/cite_picture.png') !important; 
}
div.post div.field.footnotes ol li a, div.post div.field.footnotes ol li a:link, div.post div.field.footnotes ol li a:visited {
	color:#000;
	font-weight:bold;
}

div.post div.field.footnotes ol li a:hover, div.post div.field.footnotes ol li a:focus {
	color:#0D8D37;
	text-decoration:underline;
}


/* quicks */
div.post.multi.quick {
	padding-top:5px;
	margin-top:5px;
}
div.post.multi.quick .head a.quick, div.post.multi.link .head a.link {
	display:block;
	position:absolute;
	right:0;
	top:1px;
	color:#555;
	background:url('../images/silk/time.png') no-repeat right top;
	text-indent:-10000px;
	width:16px;
	height:16px;
}
div.post.multi.link .head a.link {
	background-image:url('../images/silk/tag.png');
}
div.post.multi.quick .content {
	position:relative;
}
div.post.multi.quick .content .image.represent.tiny, div.post.multi.quick .content .image.represent.small {
	position:absolute;
	left:-160px;
	top:0;
}
div.post.multi.quick .content .image.represent p.caption {
	display:none;
}
/* content */
div.post div.content {
	line-height:1.6em;
}

div.post div.content sup {
	line-height:1em;
}

div.post div.content a, div.post div.content a:link, #comments a, #comments a:link {
	color:#0D8D37;
	font-weight:bold;
	text-decoration:none;
}
div.post div.content a:visited, #comments a:visited {
	text-decoration:none;
	color:#E20011;
}
div.post div.content a:hover, div.post div.content a:focus, #comments a:hover, #comments a:focus {
	color:#E20011;
	text-decoration:underline;
}
div.post div.content p {
	margin:0 0 10px 0;	
}

div.post div.content ol {
	margin:0 0 10px 0;
}

div.post div.content ol, div.post div.content ol li {
	list-style:decimal;	
}

div.post div.content ol li {
	margin-bottom:2px;
}

div.post div.content p.huge {
	font-size:3000%;
	line-height:0.9em;
	font-family:Helvetica, Arial;
}

/* typogrify */
div.post .title span.amp {
	font-family: Palatino, Constantia, "Book Antiqua", serif;
	font-style: italic;
	font-size:150%;
	position:relative;
	top:3px;
}


/* headings */
div.post div.content h4, div.post div.content h5, div.post div.content h6 {
	margin:15px 0 2px 0;
}
div.post div.content h4 {
	font-size:130%;
}
div.post div.content h5 {
	font-size:120%;
}
div.post div.content h6 {
	font-size:110%;
}

/* special styles */
div.post div.content p.note {
	margin:5px 0 15px -20px;
	background:url('../images/silk/note.png') no-repeat left center;
}
div.post div.content p.note span {
	display:block;
	border-top:2px solid #F5A133;
	margin-left:20px;
	padding:2px 0;
}
div.post div.content p.update {
	margin:5px 0 15px -20px;
	background:url('../images/silk/time.png') no-repeat left center;
}
div.post div.content p.update span {
	display:block;
	border-top:2px solid #E20011;
	margin-left:20px;
	padding:2px 0;
}
div.post div.content p.crosspost {
	margin:0 0 15px -20px;
	background:url('../images/silk/arrow_refresh.png') no-repeat 0% 30%;
}
div.post div.content p.crosspost span {
	display:block;
	border-bottom:2px solid #0D8D37;
	margin-left:20px;
	padding:2px 0;
}
div.post div.content .dialogue {
	border-top:2px solid #000;
	border-bottom:2px solid #000;
}

div.post div.content .dialogue p.direction {
	font-style:italic;
}

/* ordered sublists*/
div.post div.content ol li ol {
	margin-left:80px;
}

/* roman list */
div.post div.content ol.roman, div.post div.content ol.roman li {
	list-style:upper-roman;
}

div.post div.content ol.roman li ol, div.post div.content ol.roman li ol li {
	margin-left:0;
	list-style:lower-roman;
}

div.post div.content ol.roman li ol li ol {
	margin-left:80px;
}

/* alpha list */
div.post div.content ol.alpha, div.post div.content ol.alpha li {
	list-style:upper-alpha;
}

div.post div.content ol.alpha li ol, div.post div.content ol.alpha li ol li {
	margin-left:0;
	list-style:lower-alpha;
}

div.post div.content ol.alpha li ol li ol {
	margin-left:80px;
}

/* unordered list */
div.post div.content ul {
	margin:0 0 10px 0;
}

div.post div.content ul, div.post div.content ul li {
	list-style:disc;	
}

div.post div.content ul li ul {
	margin-left:80px;
}

/* blockquote */
div.post div.content blockquote {
	margin:0 0 10px -25px;
	padding-left:25px;
	background:url('../images/quote_block_lt.png') no-repeat 0px 5px;
}

div.post div.content blockquote p {
	margin:0;
	font-style:italic;
	border-top:2px solid #712466;
	padding-top:3px;
}

div.post div.content blockquote p em {
	color:#E20011;
}

div.post div.content blockquote p.cite {
	margin-top:2px;
	border-top:1px dotted #712466;
	padding-top:2px;
	font-style:normal;
}

/* pullquote */
div.post div.content blockquote.pull {
	position:relative;
	top:8px;
	left:-160px;
	width:140px;
	height:0;
	margin:0;
	padding:3px 0 0 0;
	border-top:2px solid #03447E;
	background:none;
}

div.post div.content blockquote.pull p.content {
	font-size:120%;
	border:none;
}

div.post div.content blockquote.pull p.cite {
	border-color:#03447E;
}

/* multiposts */

/* content images */
/*
 * ---sorry for how messy this section is
 */
div.post div.content div.image {
	position:relative;
	margin:0 0 10px 0;
}
div.post div.content div.image a img {
	border:none !important;
}
div.post div.content div.image p.caption {
	position:absolute;
	left:0;
	width:140px;
	color:#666666;
	float:left;
	font-size:0.9em;
	margin:0;
}
div.post div.content div.image.full {
	width:620px;
	left:-160px;
}
div.post div.content div.image p.caption {
	left:0;
	width:140px;
}
div.post div.content div.image.full p.caption.above, div.post div.content div.image.gutter p.caption.above {
	top:-8em;
}
div.post div.content div.image.full p.caption.below, div.post div.content div.image.gutter p.caption.below {
	bottom:-15em;
}
div.post div.content div.image.biggest p.caption {
	position:absolute;
	left:-160px;
	top:0;
}
div.post div.content div.image.gutter {
	width:140px;
	height:0;
	overflow:visible;
	top:5px;
	left:-160px;
	margin:0;
}
div.post div.content div.image.small.col1 p.caption, div.post div.content div.image p.caption.left {
	position:absolute;
	left:160px;
	top:0;
}
div.post div.content div.image.flow.right {
	float:left;
}
div.post div.content div.image.flow.left {
	float:right;
	margin-left:10px;
}
div.post div.content div.image.tiny.flow {
	width:80px;
}
div.post div.content div.image.small.flow {
	margin:5px 0pt 0pt;
	width:160px;	
}
div.post div.content div.image.medium.flow {
	width:240px;	
}
div.post div.content div.image.mediumer.flow {
	width:320px;	
}
div.post div.content div.image.big.flow {
	width:460px;	
}
div.post div.content div.image.col2 img {
	margin-left:80px;
}
div.post div.content div.image.col2 p.caption {
	position:absolute;
	left:240px;
	top:0;
}
div.post div.content div.image.col3 img {
	margin-left:160px;
}
div.post div.content div.image.col3 p.caption {
	position:absolute;
	left:320px;
	top:0;
}
div.post div.content div.image.col3 p.caption.left {
	position:absolute;
	left:0;
	top:0;
}
div.post div.content div.image.col4 img {
	margin-left:240px;
}
div.post div.content div.image.col5 img {
	margin-left:320px;
}
div.post div.content div.image.col6 img {
	margin-left:400px;
}
div.post div.content div.image.col5.flow.left {
	width:160px;
	float:right;
}
div.post div.content div.image.col6.flow.left {
	width:80px;
	float:right;
}
div.post div.content div.image.col5.flow.left img, div.post div.content div.image.col6.flow.left img {
	margin-left:20px;
}
div.post div.content div.image.col5 p.caption {
	position:absolute;
	left:0;
	top:0;
}
div.post div.content div.image.col5 p.caption.col2 {
	position:absolute;
	left:80px;
}
div.post div.content div.image.col5 p.caption.col3 {
	position:absolute;
	left:160px;
}
div.post div.content div.image.col1 p.caption.left, div.post div.content div.image.col2 p.caption.left, div.post div.content div.image.col3 p.caption.farleft, div.post div.content div.image.col5 p.caption.farleft {
	position:absolute;
	left:-160px;
	top:0;
}
div.post div.content div.image.col5.flow.left p.caption.farleft {
	position:absolute;
	left:-460px;
}
div.post div.content div.image.col5.flow.left p.caption.farleft {
	position: absolute;
	left: -540px;
}
div.post div.content div.image.col1.flow.right p.caption {
	position:absolute;
	left:-160px;
	margin-top:0px;
}
div.post.multi div.content div.image p.caption, div.post.multi div.content div.image.gutter {
	display:none;
}
div.post div.content div.image .footnote-link {
	display:none;
}
div.post div.content div.image p.caption .footnote-link {
	display:inline;
}
/* Archives */
.content.main.archives h3 {
	font-size:160%;
	margin-left:10px;;
}
#magicArchives {
	margin:10px 10px;
	width:620px;
	border:none;
	position:relative;
}
/*#magicArchives input#archiveSearch {
	position:absolute;
	right:0;
	top:-2.5em;
	width:294px;
}
#magicArchives #archiveControls div.control {
	width:136px;
	border:2px solid #CCCCCC;
	margin:0 10px;
}
#magicArchives #archiveControls div.control h4, #magicArchives #archiveControls div.control ol {
	border:none;
}
#magicArchives #archiveControls div.control.first-child {
	margin-left:0px;
}
#magicArchives #archiveControls div.control.last-child {
	margin-right:0px;
}
#magicArchives #archiveItems {
	margin-top:5px;
}
#magicArchives .comments.section, #magicArchives .tags.section {
	display:none;
}
#magicArchives .title.section {
	width:400px;
	margin-right:20px;
}
#magicArchives .date.section {
	width:190px;
	text-align:right;
}*/

/* ===oldarchive */
.page.archives #oldarchives ol, .page.archives #oldarchives ol li, .page.archives #currentarchives ol, .page.archives #currentarchives ol li {
	list-style:disc;
	margin-top:5px;
}

/* ==LIFESTREAM */
#content.lifestream ul.streams {
	float:left;
	margin:10px;
	width:640px;
}
#content.lifestream ul.streams li {
	width:140px;
	float:left;
	margin:5px 20px 5px 0;
}
#content.lifestream ul.streams li.last-child {
	margin-right:0;
}
#content.lifestream ul.streams li a, #content.lifestream ul.streams li a:link, #content.lifestream ul.streams li a:visited {
	display:block;
	color:#333333;
	background:transparent no-repeat 2% 50%;
	padding:3px 3px 3px 20px;
}

#content.lifestream ol.entries {
	clear:both;
}
#content.lifestream ol.entries li {
	border-top:2px solid #000;
	margin:0 10px;
	float:left;
}
#content.lifestream ol.entries li a {
	display:block;
	width:600px;
	padding:5px 10px;
	background:#FFFFE9;
	color:#333333;
	float:left;
}
#content.lifestream ol.entries li span.date, #content.lifestream ol.entries li span.content, #content.lifestream ol.entries li span.type {
	display:block;
	float:left;
}
#content.lifestream ol.entries li span.date {
	width:140px;
	padding-left:10px;
}
#content.lifestream ol.entries li span.content {
	width:300px;
	padding-left:20px;
}
#content.lifestream ol.entries li span.type {
	width:100px;
	padding-left:20px;
}
#content.lifestream ol.entries li a:hover, #content.lifestream ol.entries li a:focus {
	background:#000000 !important;
	color:#FFFFFF !important;
}
/* ==mosaic== */
/* =reset */
* {
  padding:0;
  margin:0;
}
/* =lifestream */
/* =lifestream @mosaic */
div.module.mosaic.life ol, div.module.mosaic.life ol li {
	list-style:none;
}
div.module.mosaic.life ol {
	width:300px;
	height:300px;
	margin:10px;
	float:left;
	display:block;
}
div.module.mosaic.life ol li {
	float:left;
	height:20px;
	width:20px;
	position:relative;
}
div.module.mosaic.life ol li a {
	display:block;
	width:20px;
	height:20px;
	background:#6A9D06;
	text-indent:-10000px;
	color:#FFFFFF;
	text-decoration:none;
}
div.module.mosaic.life ol li a:hover {
	position:absolute;
	left:0;
	top:0;
	z-index:1000;
	background:#000 !important;
}
/* ==profiles == */
#module-profiles ul {
	float:left;
	margin:0 10px;
	width:320px;
}
#module-profiles ul li {
	float:left;
	width:140px;
	margin:10px 20px 10px 0;
}
#module-profiles ul a {
	background:no-repeat left center;
	padding-left:20px;
	display:block;
	font-weight:normal !important;
}
#module-profiles ul a:hover, #module-profiles ul a:focus {
	text-decoration:none;
}
#module-profiles ul a span {
	display:block;
	width:110px;
	padding:3px 5px;
}
#module-profiles ul a:hover span, #module-profiles ul a:focus span {
	background:#000000 !important;
	color:#FFFFFF !important;
}
/* == icons == */
#content.lifestream ol.entries li.lastfm a.content, #content.lifestream ol.entries li.lastfm a.date, #content.lifestream ol.entries li.lastfm a.time, #content.lifestream ol.entries li.lastfm a.type {
	border-color:#DD0026;
}
#content.lifestream ul.streams li#lastfm a, #content.lifestream ol.entries li.lastfm a, div.module.mosaic.life ol li.lastfm a, #module-profiles ul li.lastfm a span, #content.lifestream ol.entries li.lastfm a.content:hover, #content.lifestream ol.entries li.lastfm a.content:focus, #content.lifestream ol.entries li.lastfm a.time, #content.lifestream ol.entries li.lastfm a.date, #content.lifestream ol.entries li.lastfm a.type {
	background:#DD0026;
	color:#FFFFFF;
}
#content.lifestream ul.streams li#lastfm a, #module-profiles ul li.lastfm a {
	/* background-image:url('../images/lastfm-icon.png'); */
}
#content.lifestream ol.entries li.flickr a.content, #content.lifestream ol.entries li.flickr a.date, #content.lifestream ol.entries li.flickr a.time, #content.lifestream ol.entries li.flickr a.type {
	border-color:#FF006C;
}
#content.lifestream ol.entries li.flickr a, div.module.mosaic.life ol li.flickr a, #module-profiles ul li.flickr a span, #content.lifestream ol.entries li.flickr a.content:hover, #content.lifestream ol.entries li.flickr a.content:focus, #content.lifestream ol.entries li.flickr a.time, #content.lifestream ol.entries li.flickr a.date, #content.lifestream ol.entries li.flickr a.type {
	background:#FF006C;
	color:#FFFFFF;
}
#content.lifestream ul.streams li#flickr a, #module-profiles ul li.flickr a {
	/* background-image:url('../images/flickr-icon.png'); */
}
#content.lifestream ol.entries li.delicious a.content, #content.lifestream ol.entries li.delicious a.date, #content.lifestream ol.entries li.delicious a.time, #content.lifestream ol.entries li.delicious a.type {
	border-color:#1E00FF;
}
#content.lifestream ol.entries li.delicious a, div.module.mosaic.life ol li.delicious a, #module-profiles ul li.delicious a span, #content.lifestream ol.entries li.delicious a.content:hover, #content.lifestream ol.entries li.delicious a.content:focus, #content.lifestream ol.entries li.delicious a.time, #content.lifestream ol.entries li.delicious a.date, #content.lifestream ol.entries li.delicious a.type {
	background:#1E00FF;
	color:#FFFFFF;
}
#content.lifestream ul.streams li#delicious a, #module-profiles ul li.delicious a {
	/* background-image:url('../images/delicious-icon.png'); */
}
#content.lifestream ol.entries li.twitter a, #content.lifestream ol.entries li.twitter a.content, #content.lifestream ol.entries li.twitter a.date, #content.lifestream ol.entries li.twitter a.time, #content.lifestream ol.entries li.twitter a.type {
	border-color:#00C2FF;
}
#content.lifestream ol.entries li.twitter a, div.module.mosaic.life ol li.twitter a, #module-profiles ul li.twitter a span, #content.lifestream ol.entries li.twitter a.content:hover, #content.lifestream ol.entries li.twitter a.content:focus, #content.lifestream ol.entries li.twitter a.time, #content.lifestream ol.entries li.twitter a.date, #content.lifestream ol.entries li.twitter a.type {
	background:#00C2FF;
	color:#333333;
}
#content.lifestream ul.streams li#twitter a, #module-profiles ul li.twitter a {
	/* background-image:url('../images/twitter-icon.png'); */
}
#content.lifestream ol.entries li.newlyancient a.content, #content.lifestream ol.entries li.newlyancient a.date, #content.lifestream ol.entries li.newlyancient a.time, #content.lifestream ol.entries li.newlyancient a.type {
	border-color:#0D8D37;
}
#content.lifestream ol.entries li.newlyancient a, div.module.mosaic.life ol li.newlyancient a, #module-profiles ul li.newlyancient a span, #module-profiles ul li.morgante a span, #content.lifestream ol.entries li.newlyancient a.content:hover, #content.lifestream ol.entries li.newlyancient a.content:focus, #content.lifestream ol.entries li.newlyancient a.time, #content.lifestream ol.entries li.newlyancient a.date, #content.lifestream ol.entries li.newlyancient a.type {
	background:#0D8D37;
	color:#FFFFFF;
}
#module-profiles ul li.newlyancient a, #module-profiles ul li.morgante a {
	/* background-image:url('../images/newlyancient-icon.png'); */
}
#content.lifestream ol.entries li.s2oh a.content, #content.lifestream ol.entries li.s2oh a.date, #content.lifestream ol.entries li.s2oh a.time, #content.lifestream ol.entries li.s2oh a.type {
	border-color:#3E83B3;
}
#content.lifestream ol.entries li.s2oh a, div.module.mosaic.life ol li.s2oh a, #module-profiles ul li.s2oh a span, #content.lifestream ol.entries li.s2oh a.content:hover, #content.lifestream ol.entries li.s2oh a.content:focus, #content.lifestream ol.entries li.s2oh a.time, #content.lifestream ol.entries li.s2oh a.date, #content.lifestream ol.entries li.s2oh a.type {
	background:#3E83B3;
	color:#FFFFFF;
}
#content.lifestream ul.streams li#s2oh a, #module-profiles ul li.s2oh a {
	/* background-image:url('../images/students2oh-icon.png'); */
}

/* syntax highlighting */
#page .dp-highlighter {
	background:none;
	margin:15px 0 15px 0 !important;
	background:#0F0B0B;
	border:2px solid #000;
	position:relative;
	overflow:visible;
	width:auto;
}
.dp-highlighter .bar {
	position:absolute;
	top:-1.3em;
	right:-10px;
	text-align:right;
	padding:0 !important;
}
.dp-highlighter .bar .tools {
	border:none !important;
	background:transparent !important;
	padding:0 !important;
	text-align:right;
}
.dp-highlighter ol {
	background:transparent !important;
	width:410px;
	margin:0 !important;
	padding:3px 10px 3px 36px !important;
	overflow:auto;
}
.dp-highlighter ol li, .dp-highlighter .columns div {
	border:none;
	padding:0 10px 0 0 !important;
	background:transparent !important;
}
.dp-highlighter ol li span {
	color:#FEFEFE;
}
.dp-highlighter .string, .dp-xml .attribute-value {
	color:#83C4FF !important;
}
.dp-xml .tag, .dp-xml .tag-name, .dp-highlighter .keyword {
	color:#0D8D37 !important;
	font-weight:normal !important;
}
.dp-xml .attribute {
	color:#FF0000 !important;
}

/* pages */
.page h2 {
	font-size:218%;
	margin-top:15px;
	margin-left:10px;
}

.page.main .content {
	margin:10px 10px;
	font-size:125%;
	line-height: 1.5em;
}

.page.main .content p {
	margin-bottom:5px;
}

/* meta pages */
.page.meta h3 {
	margin:5px 0;
	font-size:145%;
}

.page.meta h4 {
	font-size:130%;
}

.page.meta.content {
	margin:5px 10px;
	font-size:118%;
}

.page.meta.content p {
	margin-bottom:20px;
}

.page.meta.content p.intro {
	font-size:110%;
}

.page.meta.content a, .page.meta.content a:link, .page.meta.content a:visited {
	color:#499948;
	text-decoration:none;
}

.page.meta.content a:hover, .page.meta.content a:focus {
	text-decoration:underline;
	color:#E20011;
}
.page.meta.content ol {
	margin:10px 10px 20px 20px;
}
.page.meta.content ol, .page.meta .content ol li {
	list-style:decimal;	
}
/* 404 page */
.page.fourohfour h3 {
	font-size:400%;
	margin-bottom:20px;
}
.page.fourohfour input#s {
	width:454px;
}
.page.fourohfour #fourohfour-search {
	margin-top:30px;
	position:relative;
}
.page.fourohfour #fourohfour-search label {
	display:block;
	float:left;
	width:80px;
	font-size:130%;
}
.page.fourohfour #fourohfour-search #searchsubmit {
	position:absolute;
	left:560px;
	top:0;
	width:60px;
}
.page.fourohfour p.unimportant {
	font-size:90%;
	margin-top:50px;
}
/* tags page */
.page.meta.tags #tags {
	margin:20px 10px;
}
.page.meta.tags #tags a.tag {
	color: #000000;
	line-height: 20px;
	padding: 2px 0;
	margin-right:5px;
}

.page.meta.tags #tags a.tag span {
	white-space: nowrap;
}

.page.meta.tags #tags a.tag sup {
	color: #aaa;
	font-size: 11px;
	margin-left: 2px;
}

.page.meta.tags #tags a.tag:hover, .page.meta.tags #tags a.tag:focus {
	color: #E20011;
	text-decoration: none;
}
/* comments page */
.page.meta.comments #comments .comment {
	float:left;
	width:140px;
	height:5em;
	margin:5px 10px;
}
.page.meta.comments #comments .comment a {
	color:#000;
	font-weight:bold;
	text-decoration:none;
}
.page.meta.comments #comments .comment a:hover, .page.meta.comments #comments .comment a:focus {
	text-decoration:underline;
	color:#E20011;
}

/* writing */
.page.writing {
	position:relative;
}
.page.writing #edit-link {
	position:absolute;
	right:10px;
	top:20px;
	font-size:120%;
}
.page.writing .content .poetry {
	border-left:3px solid #0D8D37;
	color:#333333;
	padding:10px 20px;
	margin-bottom:5px;
}
.page.writing .content .poetry pre {
	white-space:pre;
	font-family:cursive;
	margin:0px 0px 10px 0px;
	font-size:130%;
	line-height:1.5em;
}
.page.writing .content .poetry pre:first-line {
	color:#222222;
}
.page.writing .content .poetry pre:first-letter {
	font-weight:bold;
	font-size:120%;
}
.page.writing .content blockquote {
	border-left:3px solid #712466;
	padding:10px 20px;
	margin-bottom:5px;	
}
.module.writing h3 span.icon {
	/* background-image:url('../images/pencil-grey.png') !important; */
}
.module.writing h3 a:hover span.icon {
	/* background-image:url('../images/pencil.png') !important; */
}

/* == modal boxes == */
.ui-dialog-overlay {
	background:#000;
	opacity:0;
}

/* == Subscribe Box == */
#subscribe_box {
	display:none;
	padding: 1.5em 1em;
}

#subscribe_box p {
	width:460px;
}